@using AriD.BibliotecaDeClasses.Enumeradores
@{
    var dadosDaSessao = Context.DadosDaSessao();
}

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            <i class='bx bxs-user-account'></i> Horas Positivas e Negativas por @Context.NomenclaturaServidores()
        </h5>
        <div class="d-flex align-items-center">
            <select id="TemplateFiltros" class="form-select form-select-sm me-2" style="width: 200px;" onchange="FiltrosPersonalizados.aplicar()">
                <option value="">-- Templates Salvos --</option>
            </select>
            <button class="btn btn-outline-secondary btn-sm" onclick="FiltrosPersonalizados.salvar()" title="Salvar Filtro Atual">
                <i class='bx bx-star'></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        @if (dadosDaSessao.Perfil != ePerfilDeAcesso.UnidadeOrganizacional)
        {
            <div class="row">
                <div class="col col-md-12">
                    <label class="form-label obrigatorio">Unidade</label>
                    @Html.DropDownList("UnidadeId", (SelectList)ViewBag.Unidades, "", new { @class = "select2" })
                </div>
            </div>
        }

        <div class="row">
            <div class="col col-md-4 col-sm-12">
                <label class="form-label">Horário de Trabalho</label>
                @Html.DropDownList("HorarioDeTrabalhoId", (SelectList)ViewBag.Horarios, "Todos", new { @class = "select2" })
            </div>

            <div class="col col-md-4 col-sm-12">
                <label class="form-label">Tipos de Vínculo de Trabalho</label>
                @Html.DropDownList("TipoDeVinculoDeTrabalhoId", (SelectList)ViewBag.Tipos, "Todos", new { @class = "select2" })
            </div>

            <div class="col col-md-4 col-sm-12 col-12">
                <label class="form-label obrigatorio" for="MesDeReferencia">Período</label>
                <div class="input-group">
                    <input id="MesDeReferencia" type="month" class="form-control" />
                </div>
            </div>
        </div>

        <br />
        <button type="button" class="btn btn-primary" onclick="processarRelatorio()">
            <i class='bx bxs-report'></i> Processar
        </button>
    </div>
</div>

<script src="/Scripts/Comum/filtros_personalizados.js"></script>
<script>
    $(document).ready(function() {
        FiltrosPersonalizados.init('.card-body', '#TemplateFiltros');
    });

    function processarRelatorio() {
        let parametros = {
            unidadeId: $('#UnidadeId').val(),
            horarioDeTrabalhoId: $('#HorarioDeTrabalhoId').val(),
            tipoDeVinculoDeTrabalhoId: $('#TipoDeVinculoDeTrabalhoId').val(),
            mesAno: $('#MesDeReferencia').val()
        };

        RequisicaoAjaxComCarregamento(
            '/Relatorio/ProcessarHorasPorServidor',
            'POST',
            parametros,
            function (data) {
                if (data.sucesso) {
                    MensagemRodape('success', 'O arquivo será baixado...');
                    downloadBase64File(data.base64, data.fileName, data.mimeType);
                } else {
                    MensagemRodape('warning', data.mensagem);
                }
            });
    }
</script>