@{
    Layout = "_ContentNavbarLayout";
    ViewData["Title"] = "Sistema de Gerenciamento Escolar";

    var dadosDaSessao = this.Context.DadosDaSessao();
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo, @dadosDaSessao.UsuarioNome!</h1>
</div>
