@model ListaPaginada<Escola>

@{
    var podeAlterarEscolas = Context.PossuiPermissao(eItemDePermissao_RedeDeEnsino.AlterarEscolas);

    var tabela = new WebGrid<Escola>(Model, "grid", null);

    var listaDeColunas = new List<WebGridColumn>
    {
        tabela.Column("Nome", "Nome", width: 65f),
        tabela.Column("CodigoInep", "INEP", width: 15f),
        tabela.Column("Ativa", "Ativa", format:
            @<text>
                @if (item.Ativa)
                {
                    <i class="bx bx-check-square text-success"></i>
                }
                else
                {
                    <i class="bx bx-checkbox-minus text-danger"></i>
                }
            </text>, width: 5f),
    };

    if (podeAlterarEscolas)
    {
        listaDeColunas.Add(tabela.Column(string.Empty, "AÁ„o", format:
            @<text>
                <button type="button" class="btn btn-primary btn-sm" onclick="CarregarPagina('@Url.Action("Alterar", "Escola", new { id = item.Id })')">
                    <i class='bx bxs-edit-alt'></i>
                </button>
            </text>, width: 3f));
    }
}

@(await tabela.Table(listaDeColunas, string.Empty, Html.PartialAsync("_PaginacaoWebGrid")))
