@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@model ListaPaginada<Turma>

@{
    var podeAlterar = Context.PossuiPermissao(eItemDePermissao_Turma.CadastrarOuAlterar);
    var ehRedeDeEnsino = Context.DadosDaSessao().Perfil == ePerfilDeAcesso.RedeDeEnsino;
    var tabela = new WebGrid<Turma>(Model, "grid", null);

    var listaDeColunas = new List<WebGridColumn>
    {
        tabela.Column("Descricao", "DescrińŃo", width: ehRedeDeEnsino ? 15f : 36f),
        tabela.Column("AnoEscolar", "Ano Escolar", width: ehRedeDeEnsino ? 25f : 46f, format: @<text>@(((eAnoEscolar)item.AnoEscolar).DescricaoDoEnumerador())</text>),
        tabela.Column("Turno", "Turno", width: 10f, format: @<text>@(((eTurno)item.Turno).DescricaoDoEnumerador())</text>)
    };

    if (ehRedeDeEnsino)
    {
        listaDeColunas.Add(
            tabela.Column("Escola.Nome", "Escola", width: 25f));
    }

    listaDeColunas.Add(
        tabela.Column("Situacao", "SituańŃo", format:
            @<text>@(((eSituacaoTurma)item.Situacao).DescricaoDoEnumerador())</text>, width: 5f));

    @if (podeAlterar)
    { 
        listaDeColunas.Add(
            tabela.Column(string.Empty, "AńŃo", format:
                @<text>
                    <button type="button" class="btn btn-primary btn-sm" onclick="CarregarPagina('/Turma/Alterar/@item.Id')">
                        <i class='bx bxs-edit-alt'></i>
                    </button>
                </text>, width: 3f));
    }
}

@(await tabela.Table(listaDeColunas, string.Empty, Html.PartialAsync("_PaginacaoWebGrid")))
