@model ListaPaginada<Turma>

@{
    var podeIncluir = Context.PossuiPermissao(eItemDePermissao_Turma.CadastrarOuAlterar);
}

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            <i class='bx bxs-notepad'></i> Listagem de Turmas
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <label class="form-label">
                    &nbsp;
                </label>
                <div class="input-group">
                    @Html.TextBox("TermoDeBusca", Model.TermoDeBusca, new { @class = "form-control", @placeholder = "Digite para buscar", @style = "background: white" })
                    <button class="btn btn-primary" type="button" onclick="onChangeAnoLetivo()">
                        <i class='bx bx-search-alt'></i> Pesquisar
                    </button>
                </div>
            </div>

            <div class="col col-md-2 col-sm-3 col-xs-12">
                <label class="form-label">
                    Ano Letivo
                </label>
                @Html.DropDownList("AnoLetivo", (SelectList)ViewBag.AnosLetivos, new { @class = "form-select", @onchange = "onChangeAnoLetivo()" })
            </div>

            <div class="col-md-5 col-sm-3 col-xs-12">
                @if (podeIncluir)
                {
                    <label class="form-label">
                        &nbsp;
                    </label>
                    <button type="button" onclick="CarregarPagina('/Turma/Adicionar')" class="btn btn-primary float-end" style="margin-top: 17px;">
                        <i class="bx bx-plus"></i> Adicionar
                    </button>
                }
            </div>
        </div>
        <br />

        <div id="grid">
            @await Html.PartialAsync("_TabelaPaginada")
        </div>

        <div id="div-modal"></div>
    </div>
</div>

<script src="/Scripts/Paginas/Turma/index.js?t=@DateTime.Now.Ticks"></script>
