@model ListaPaginada<Aluno>

@{
    var tabela = new WebGrid<Aluno>(Model, "grid", null);

    var listaDeColunas = new List<WebGridColumn>
    {
        tabela.Column("Nome", "Nome", width: 65f),
        tabela.Column("Pessoa.Cpf", "CPF", width: 10f),
        tabela.Column(string.Empty, "AþÒo", format:
            @<text>
                <button type="button" class="btn btn-primary btn-sm" onclick="CarregarPagina('@Url.Action("Alterar", "Servidor", new { id = item.Id })')">
                    <i class='bx bxs-edit-alt'></i>
                </button>
            </text>, width: 3f)
    };
}

@(await tabela.Table(listaDeColunas, string.Empty, Html.PartialAsync("_PaginacaoWebGrid")))
