@using AriD.BibliotecaDeClasses.Entidades
@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.GerenciamentoDePonto.WebGrid

@model ListaPaginada<Rota>

@{
    var tabela = new WebGrid<Rota>(Model, "grid", null);

    var listaDeColunas = new List<WebGridColumn>
    {
        tabela.Column("Descricao", "Descrição", width: 30f),
        tabela.Column("Motorista.Servidor.Pessoa.Nome", "Motorista", width: 30f),
        tabela.Column("Situacao", "Situação", format:
            @<text>
                @if (item.Situacao == eStatusRota.Inativa)
            {
                <span class="badge bg-label-secondary">Inativa</span>
            }
            else if (item.Situacao == eStatusRota.Ativa)
            {
                <span class="badge bg-label-primary">Ativa</span>
            }
            else if (item.Situacao == eStatusRota.Concluida)
            {
                <span class="badge bg-label-success">Concluída</span>
            }
            </text>, width: 20f),
        tabela.Column(string.Empty, "Ação", format:
            @<text>
                <button type="button" class="btn btn-primary btn-sm" onclick="abrirModal(@item.Id)">
                    <i class='bx bxs-edit-alt'></i>
                </button>
            </text>, width: 10f)
    };
}

@(await tabela.Table(listaDeColunas, string.Empty, Html.PartialAsync("_PaginacaoWebGrid")))
