@model ListaPaginada<Servidor>

<button type="button" onclick="CarregarPagina('@Url.Action("Adicionar")')" class="btn btn-primary">
    <i class="bx bx-plus"></i> Adicionar
</button>
<br />
<br />

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="input-group">
            @Html.TextBox("TermoDeBusca", Model.TermoDeBusca, new { @class = "form-control", @placeholder = "Digite algo para buscar", @style = "background: white" })
            <button class="btn btn-primary" type="button" onclick="carregarTabelaPaginadaComPesquisa('@Url.Action("TabelaPaginada")')">
                <i class='bx bx-search-alt'></i> Pesquisar
            </button>
        </div>
    </div>
</div>

<br />

<div id="grid">
    @await Html.PartialAsync("_TabelaPaginada")
</div>