@model ListaPaginada<Servidor>

<button type="button" onclick="CarregarPagina('@Url.Action("Adicionar")')" class="btn btn-primary">
    <i class="bx bx-plus"></i> Adicionar
</button>
<br />
<br />

<div id="grid">
    @await Html.PartialAsync("_TabelaPaginada")
</div>