@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@model ListaPaginada<EventoAnual>

@{
    var tabela = new WebGrid<EventoAnual>(Model, "grid", null);

    var listaDeColunas = new List<WebGridColumn>
    {
        tabela.Column("Data", "Data", format: 
            @<text> @(((DateTime)item.Data).ToShortDateString()) </text>, 
            width: 20f),
        tabela.Column("Descricao", "Descrição", width: 40f),
        tabela.Column("Tipo", "Tipo", format:
            @<text> @(((eTipoDeEvento)item.Tipo).DescricaoDoEnumerador()) </text>, width: 37f), 
        tabela.Column(string.Empty, "Ação", format:
            @<text>
                <button type="button" class="btn btn-primary btn-sm" onclick="AbrirModal(@item.Id)">
                    <i class='bx bxs-edit-alt'></i>
                </button>
            </text>, width: 3f)
    };
}

@(await tabela.Table(listaDeColunas, string.Empty, Html.PartialAsync("_PaginacaoWebGrid")))