@using AriD.BibliotecaDeClasses.Enumeradores
@{
    var dadosDaSessao = Context.DadosDaSessao();
}

<div class="modal" tabindex="-1" id="_ModalAlocarNaEscola">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Matricular na escola
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @if (dadosDaSessao.Perfil == ePerfilDeAcesso.Escola)
                    {
                        <div class="col col-md-4">
                            <label class="form-label obrigatorio" for="IdEquipamento">Id Equipamento</label>
                            @Html.TextBox("IdEquipamento", string.Empty, new { @class = "form-control", @maxlength = "5", @autocomplete = "off" })
                        </div>
                    }
                    else 
                    {
                        <div class="col col-md-9">
                            <label class="form-label obrigatorio" for="EscolaId">Escola</label>
                            @Html.DropDownList("EscolaId", (SelectList)ViewBag.Escolas, string.Empty, new { @class = "select2" })
                        </div>
                        <div class="col col-md-3">
                            <label class="form-label obrigatorio" for="IdEquipamento">Id Equipamento</label>
                            @Html.TextBox("IdEquipamento", string.Empty, new { @class = "form-control", @maxlength = "5", @autocomplete = "off" })
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class='bx bx-window-close'></i> Fechar
                </button>

                <button type="button" class="btn btn-primary" id="btn-salvar-modal" onclick="matricularNaEscolaModal()">
                    <i class='bx bxs-save'></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>
