@model ListaPaginada<Aluno>

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            <i class="bx bxs-user-detail"></i> Listagem de Alunos
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <label class="form-label">
                    &nbsp;
                </label>
                <div class="input-group">
                    @Html.TextBox("TermoDeBusca", Model.TermoDeBusca, new { @class = "form-control", @placeholder = "Digite para buscar", @style = "background: white" })
                    <button class="btn btn-primary" type="button" onclick="onChangeSomenteMatriculados()">
                        <i class='bx bx-search-alt'></i> Pesquisar
                    </button>
                </div>
            </div>

            <div class="col col-md-3 col-sm-4 col-xs-12">
                <label class="form-label">
                    Matrícula
                </label>
                @{
                    var listaDeSelecao = new List<SelectListItem>
                    {
                        new SelectListItem { Value = "sim", Text = "Somente matriculados", Selected = true },
                        new SelectListItem { Value = "nao", Text = "Somente NĂO matriculados", Selected = false }
                    };
                }
                @Html.DropDownList("SomenteMatriculados", listaDeSelecao, new { @class = "form-select", @onchange = "onChangeSomenteMatriculados()" })
            </div>

            @if (Context.PossuiPermissao(eItemDePermissao_Aluno.CadastrarOuAlterar))
            {
                <div class="col-md-4 col-sm-2 col-xs-12">
                    <label class="form-label">
                        &nbsp;
                    </label>
                    <button type="button" onclick="CarregarPagina('@Url.Action("Adicionar")')" class="btn btn-primary float-end">
                        <i class="bx bx-plus"></i> Adicionar
                    </button>
                </div>
            }
        </div>

        <br />

        <div id="grid">
            @await Html.PartialAsync("_TabelaPaginada")
        </div>
    </div>
</div>
<script src="/Scripts/Paginas/Aluno/index.js?t=@DateTime.Now.Ticks"></script>