@model ListaPaginada<RedeDeEnsino>

@{
    var tabela = new WebGrid<RedeDeEnsino>(Model, "grid", null);

    var listaDeColunas = new List<WebGridColumn>
    {
        tabela.Column("Nome", "Nome", width: 65f),
        tabela.Column("Ativa", "Ativa", format:
            @<text>
                @if (item.Ativa)
            {
                <i class="bx bx-check-square text-success"></i>
            }
            else
            {
                <i class="bx bx-checkbox-minus text-danger"></i>
            }
            </text>, width: 5f),
        tabela.Column(string.Empty, "AÓÐo", format:
            @<text>
                <button type="button" class="btn btn-primary btn-sm" onclick="CarregarPagina('@Url.Action("Alterar", "RedeDeEnsino", new { id = item.Id })')">
                    <i class='bx bxs-edit-alt'></i>
                </button>

                <button type="button" class="btn btn-primary btn-sm" onclick="autenticarEmOutraRedeDeEnsino(@item.Id)" title="Acessar essa organizaÓÐo">
                        <i class='bx bx-horizontal-center'></i>
                </button>
            </text>, width: 8f)
    };
}

@(await tabela.Table(listaDeColunas, string.Empty, Html.PartialAsync("_PaginacaoWebGrid")))
